<p-tabView>
  <p-tabPanel header="Programming Lang Stats">
    <app-programming-language-stats></app-programming-language-stats>
  </p-tabPanel>

  <p-tabPanel header="GitHub User Repositories">
    <app-github-repos></app-github-repos>
  </p-tabPanel>

  <p-tabPanel header="COVID-19 Trends">
    <app-covid-charts></app-covid-charts>
  </p-tabPanel>

  <p-tabPanel header="Weather Forecast">
    <app-weather-forecast></app-weather-forecast>
  </p-tabPanel>

  <p-tabPanel header="Random User">
    <app-random-user></app-random-user>
  </p-tabPanel>
</p-tabView>
