<p-tabView>
  <p-tabPanel header="COVID-19 Trends">
    <app-covid-charts></app-covid-charts>
  </p-tabPanel>
  <p-tabPanel header="Stock Market Analysis">
    <app-stock-market></app-stock-market>
  </p-tabPanel>
  <p-tabPanel header="Climate Change Visualization">
    <app-climate-change></app-climate-change>
  </p-tabPanel>
  <p-tabPanel header="Sentiment Analysis on Social Media">
    <app-sentiment-analysis></app-sentiment-analysis>
  </p-tabPanel>
  <p-tabPanel header="Customer Segmentation">
    <app-customer-segmentation></app-customer-segmentation>
  </p-tabPanel>
</p-tabView>
